body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

#main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
}

#left-splitter {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #8ec4f9;
    color: white;
    border-right: 1px solid #dee2e6;
}

#left-top {
    padding: 15px;
    border-bottom: 1px solid #dee2e6;
}

#left-top h3 {
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #f8f9fa;
}

#center-top {
    padding: 15px;
    border-bottom: 1px solid #dee2e6;
}

#center-top h3 {
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #f8f9fa;
}

#checkbox-list {
    list-style: none;
    padding: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.setting-list {
    list-style: none;
    padding: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#left-bottom {
    padding: 15px;
    border-top: 1px solid #dee2e6;
}

#left-bottom button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#newDimName {
    width: 150px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    color: rgb(14, 10, 59);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.panel {
    margin: 20px;
    padding: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: block;
    /* width: 40%; */
}

#left-bottom button:hover {
    background-color: #0056b3;
}

#top-splitter {
    height: 50px;
    background-color: #dee2e6;
    border-bottom: 1px solid #ced4da;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

#center-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

#center-containerXXX div {
    padding: 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    height: 100px;
    box-sizing: border-box;
}

#center-containerXX div:last-child {
    border-bottom: none;
}

div {
    max-width: 100% !important;
}

.table {
    display: flex;
    flex-direction: column;
    /* Imposta le righe */
    border: 1px solid black;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
}

.cell {
    flex: 1;
    /* Stessa dimensione per tutte le celle */
    width: 33.33%;
    /* Assicura larghezza uniforme */
    padding: 10px;
    display: flex;
}

/* Allineamento delle colonne */
.row .cell:nth-child(1) {
    justify-content: flex-start;
    text-align: left;
}

.row .cell:nth-child(2) {
    justify-content: center;
    text-align: center;
}

.row .cell:nth-child(3) {
    justify-content: flex-end;
    text-align: right;
}